.configuraties-overzicht-akram
  text-align: center
  table
    display: inline-block
    border: $profileBar 5px solid
    th
      border: $nav 5px solid
    td
      border: #37abc8 5px solid
    background: $primary
  form input
    border: $profileBar 0.2em solid
    text-align: center
    display: inline-block
    background-color: $primary
  form input[type=submit]
    border: #37abc8 0.2em solid
    background-color: $nav
    color: $primary
    &:hover
      color: $primary
      background-color: #37abc8
      border: $nav 0.2em solid
