body {
  margin: 0;
  padding: 0; }

header {
  position: fixed; }
  header .profileBar {
    background: #1b4965;
    z-index: 1;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0; }
    header .profileBar .profile {
      display: inline-block;
      float: right;
      margin: 0.5em 1em; }
      header .profileBar .profile .profilePicture {
        width: 3em;
        height: 3em;
        border-radius: 50%; }
  header nav {
    position: absolute;
    top: 0;
    left: 0;
    background: #14364A;
    color: #F7F8F9;
    width: 10em; }
    header nav .logo {
      margin: 1em auto;
      display: block;
      z-index: 2; }
    header nav ul {
      list-style-type: none;
      padding: 0;
      margin: 2em 0em;
      min-height: 100vh; }
      header nav ul a {
        color: inherit;
        text-decoration: none; }
        header nav ul a li {
          margin: 1em 0em;
          text-align: center; }
          header nav ul a li:hover {
            letter-spacing: 0.01em; }
