body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }

leftArrow {
  height: 0;
  width: 0;
  border-bottom: 1.5em solid transparent;
  border-right: 1.5em solid #1B4965;
  border-top: 1.5em solid transparent; }

header {
  z-index: 100;
  position: fixed; }
  header .navArrow {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    transition: left 300ms, -webkit-transform 300ms;
    transition: left 300ms, transform 300ms;
    transition: left 300ms, transform 300ms, -webkit-transform 300ms;
    width: auto;
    height: 3em;
    cursor: pointer; }
  header .navArrowOpen {
    -webkit-transform: translateY(-50%) scaleX(-1);
            transform: translateY(-50%) scaleX(-1);
    margin-left: 0.2em;
    transition: margin-left 300ms; }
    header .navArrowOpen:hover {
      margin-left: 0.4em; }
  header .profileBar {
    background: #1b4965;
    z-index: 100;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0; }
    header .profileBar .status {
      float: right;
      display: inline-block;
      text-align: center;
      margin: 1em 1em; }
      header .profileBar .status span {
        color: rgba(255, 255, 255, 0.9); }
      header .profileBar .status a {
        color: rgba(255, 255, 255, 0.5); }
        header .profileBar .status a:hover {
          text-decoration: underline; }
    header .profileBar .profile {
      display: inline-block;
      float: right;
      margin: 0.5em 1em; }
      header .profileBar .profile:hover ul {
        max-height: 4.5em; }
      header .profileBar .profile ul {
        max-height: 0em;
        list-style-type: none;
        margin: 0.55em 0em;
        position: absolute;
        right: 0;
        text-align: center;
        background: #1b4965;
        transition: max-height 300ms;
        padding: 0;
        overflow: hidden; }
        header .profileBar .profile ul li a {
          display: block;
          padding: 0.4em 1em;
          color: #F7F8F9; }
          header .profileBar .profile ul li a:hover {
            text-decoration: underline; }
      header .profileBar .profile .profilePicture {
        width: 3em;
        height: 3em;
        border-radius: 50%; }
  header .logo {
    z-index: 101;
    position: absolute;
    top: 0;
    left: 0;
    margin: 1em 2.5em;
    transition: opacity 300ms;
    opacity: 1; }
  header .logoGone {
    opacity: 0; }
  header nav {
    position: absolute;
    top: 0;
    left: 0;
    background: #14364A;
    color: #F7F8F9;
    width: 10em;
    z-index: 99;
    min-height: calc(100vh - 4em);
    margin-top: 4em;
    padding-top: 4em;
    overflow-x: hidden;
    transition: width 300ms; }
    header nav ul {
      list-style-type: none;
      padding: 0;
      text-align: center;
      transition: max-height 600ms; }
      header nav ul li {
        transition: background 300ms; }
        header nav ul li:hover {
          background: #1b4965; }
        header nav ul li:hover ul {
          max-height: 10em; }
        header nav ul li a {
          text-decoration: none;
          padding: 1em 0em;
          display: block;
          color: inherit; }
          header nav ul li a:hover {
            letter-spacing: 0.02em; }
        header nav ul li ul {
          max-height: 0;
          overflow: hidden; }
  header .navClosed {
    width: 0px; }

main {
  position: absolute;
  right: 0;
  bottom: 0; }
